<h1><%= t '.title' %></h1>

<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>: <strong><%= @email %></strong></p><br/>
<%= link_to t('words.link'), Rails.application.credentials.dig(:mailjet, :hostname) %>
