<h1><%= I18n.t('title.event.pincode') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label I18n.t('events.event.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to I18n.t('buttons.to_main'), events_path %>
